:root {
    --radius-small: 0.5rem;
    --radius-default: 1rem;
    --radius-large: 2rem;
    --radius-full: 100vw;
    --gap-default: 2rem;
    --font-measure: 70ch;
    --font-system-serif: Didot,
        'Bodoni MT',
        'Noto Serif Display',
        'URW Palladio L',
        P052,
        Sylfaen,
        serif;
    --font-system: Inter,
        Roboto,
        'Helvetica Neue',
        'Arial Nova',
        'Nimbus Sans',
        Arial,
        sans-serif;
    --font-family-default: 'Inter', sans-serif, var(--font-system);
    --font-family-brand: 'Sequel', var(--font-system);
    --font-family-serif: "PT Serif", "Playfair Display", var(--font-system-serif),
        serif;
    --font-family-mono: "DM Mono", ui-monospace,
        'Cascadia Code',
        'Source Code Pro',
        Menlo,
        Consolas,
        'DejaVu Sans Mono',
        monospace;
    // light theme
    --clr-brand: rgb(255, 46, 22);
    --font-color: var(--black);
    --background-rgb: 255, 46, 22; // use with rgba
    --action-color: var(--black);
    --action-color-state: var(--black);
    --background: var(--clr-brand);
    --primary-background: var(--primary-100);
    --neutral-background: var(--neutral-200);
}

// dark color scheme overrides
.darkmode {
    --font-color: var(--clr-brand);
    --background-rgb: 0, 0, 0; // use with rgba
    --action-color: var(--clr-brand);
    --action-color-state: var(--clr-brand);
    --background: var(--neutral-1000);
    --primary-background: var(--primary-500);
    --neutral-background: var(--neutral-900);
}

// sticky footer on low content pages
html,
body {
    height: 100%;


    scroll-behavior: smooth;
    scroll-padding-top: 96px;

}

body {

    color: var(--font-color);
    background-color: var(--background);

    main {
        flex: 1 0 auto;
    }

    footer {
        flex-shrink: 0;
    }
}

pre {
    padding: var(--space-xs);
    border-radius: 0.35em;
    border: 2px solid var(--action-color);
    margin-block: var(--space-xs);
}

body .pagination a {

    &:hover,
    &:focus-visible {
        background-color: var(--action-color-state);

        svg path {
            stroke: white;
        }
    }

}

.page__title {
    padding: var(--space-2xl) 0;
    font-weight: 400;
    margin-top: var(--space-3xl);

    & h1,
    & h2 {
        font-family: var(--font-family-serif);
        font-size: var(--fs-8);
        line-height: 100%;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}