// | -------------------------------------------------------------
// | Container
// | -------------------------------------------------------------

@use "breakpoint" as *;

.container {
  margin: 0 auto;
  padding: 0 calc(2rem / 3);
  max-width: 100%;

  @include breakpoint(medium) {
    padding: 0 var(--space-s);
  }

  @include breakpoint(large) {
    padding: 0 var(--space-xl);
    max-width: 1920px;
  }

  &.stretch {
    max-width: 100%;
  }
}