---
// import type { SanityDocument } from "@sanity/client";

import Layout from "../layouts/LayoutEmptyDebug.astro";
import CustomTitle from "../components/CustomTitle.astro";
---

<Layout>
  <div class="container grid">
    <CustomTitle textInput="Yourrrr animated text here" />
  </div>
</Layout>

<style lang="scss"></style>
