---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import PortableText from "../../components/PortableText.astro";
import { urlForImage } from "../../sanity/lib/urlForImage";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  console.log(posts);
  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery<{
  title: string;
  body: any[];
  featImage: any;
}>({
  query: `*[_type == "post" && slug.current == $slug][0]`,
  params,
});
---

<Layout>
  <div class="container">
    <h1>{post.title}</h1>
    {
      post.featImage.asset && urlForImage(post.featImage).url() ? (
        <Image
          src={urlForImage(post.featImage).url()}
          widths={[480, 960, 1440, 1920, 2560]}
          inferSize
          sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1080px) 720px, 1080px"
          alt={post.title || "No title available"}
          class="page__cover"
        />
      ) : null
    }
    <PortableText portableText={post.body} />
  </div>
</Layout>
