---

---

<ul class="nav">
  <li><a href="/about">Information</a></li>
</ul>

<style>
  .nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav li {
    margin: 0;
  }
  .nav a {
    color: var(--color-text);
    text-decoration: none;
  }
  .nav a:hover {
    text-decoration: underline;
  }
</style>
