---
const { textInput, delay } = Astro.props;
const plainText = textInput.toString().replace(/[^a-zA-Z0-9 ]/g, "");
console.log("textInput", plainText);
---

<h1 class="variable-font title" data-splitting>{plainText}</h1>

<style>
  h1 {
    font-style: italic;
  }

  .title {
    --customDelay: ${delay}ms;
  }
</style>

<script>
  import Splitting from "splitting";
  Splitting();

  document.addEventListener("astro:page-load", () => Splitting());
  document.addEventListener("astro:after-swap", () => Splitting());
</script>
