---
const {
  textInput = "",
  delay = 0,
  size = "default",
} = Astro.props as {
  textInput?: string;
  delay?: number;
  size?: "large" | "medium" | "default" | "small";
};
const plainText = textInput
  ? textInput.toString().replace(/[^a-zA-Z0-9 ]/g, "")
  : "";

const fontSizeMap = {
  large: "var(--fs-8)",
  medium: "var(--fs-6)",
  default: "var(--fs-5)",
  small: "var(--fs-4)",
};
const computedFontSize = fontSizeMap[size] || fontSizeMap.default;
---

<h2
  class="variable-font title"
  data-splitting
  style={`font-size: ${computedFontSize}; --customDelay: ${delay}ms;`}
>
  {plainText}
</h2>

<style>
  .title {
    /* font-style: italic; */
    /* text-transform: uppercase; */
    line-height: 112.5%;
  }
</style>

<script>
  import Splitting from "splitting";
  Splitting();

  document.addEventListener("astro:page-load", () => Splitting());
  document.addEventListener("astro:after-swap", () => Splitting());
</script>
