<div class="cursor">
  <span class="cursor-text">
    <img src="/icon-on.svg" alt="Mute Icon" width="32" class="cursor-icon" />
  </span>
</div>
<style>
  .cursor {
    position: fixed;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: 0;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    z-index: 2000;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color, red);
  }

  .cursor.grow {
    scale: 1.5; /* Maak de cursor groter */
    background-color: transparent; /* Verwijder de rode achtergrondkleur */
  }

  .cursor-icon {
    width: 60%;
    height: 60%;
    display: none; /* Verberg standaard het icoon */
    transition: opacity 0.3s ease;
  }

  .cursor-icon[src] {
    display: block; /* Toon de afbeelding als de src is ingesteld */
  }

  .cursor.hide {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .cursor-text img {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  .cursor-text img[src=""] {
    display: none; /* Verberg het icoon als src leeg is */
  }

  @media (hover: none) and (pointer: coarse) {
    .cursor {
      display: none;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  let cursor: HTMLElement | null;
  let cursorIcon: HTMLImageElement | null;
  let video: HTMLVideoElement | null;

  const initializeCursor = () => {
    cursor = document.querySelector(".cursor");
    cursorIcon = document.querySelector(".cursor-icon");
    video = document.getElementById("video") as HTMLVideoElement | null;

    if (!cursor) return;

    gsap.set(cursor, {
      xPercent: -50,
      yPercent: -50,
    });

    const xTo = gsap.quickTo(cursor, "x", { duration: 0.6, ease: "power3" });
    const yTo = gsap.quickTo(cursor, "y", { duration: 0.6, ease: "power3" });

    window.addEventListener("mousemove", (e) => {
      xTo(e.clientX);
      yTo(e.clientY);
    });

    document.addEventListener("mouseleave", () => {
      gsap.to(cursor, { duration: 0.7, opacity: 0 });
    });

    document.addEventListener("mouseenter", () => {
      gsap.to(cursor, { duration: 0.7, opacity: 0.7 });
    });

    document.querySelectorAll("a").forEach((link) => {
      link.addEventListener("mousemove", () => {
        gsap.to(cursor, {
          scale: 1.5,
          autoAlpha: 1,
          duration: 0.1,
        });
      });

      link.addEventListener("mouseleave", () => {
        gsap.to(cursor, {
          scale: 1,
          autoAlpha: 0.7,
          duration: 0.3,
        });
      });
    });

    video?.addEventListener("mousemove", () => {
      gsap.to(cursor, {
        scale: 2.5,
        autoAlpha: 1,
        backgroundColor: "transparent", // Rode achtergrondkleur
        duration: 0.1,
      });
      updateCursorIcon();
    });

    video?.addEventListener("mouseleave", () => {
      gsap.to(cursor, {
        scale: 1,
        autoAlpha: 0.7,
        backgroundColor: "red", // Rode achtergrondkleur
        duration: 0.3,
      });
    });

    function updateCursorIcon() {
      if (video?.muted) {
        cursorIcon?.setAttribute("src", "/icon-on.svg");
      } else {
        cursorIcon?.setAttribute("src", "/icon-mute.svg");
      }
    }
  };

  document.addEventListener("astro:page-load", initializeCursor);
  document.addEventListener("astro:after-swap", initializeCursor);
</script>
