---
import CustomClock from "./CustomClock.astro";

const { title, showDate, timeZone = true } = Astro.props;

const year = new Date().getFullYear();
---

<footer class="container">
  <div class="year"><p>{year} © {title}</p></div>
  <div class="timezone">
    <CustomClock timeZone={timeZone} showDate={showDate} />
  </div>
  <div class="credits"><p>website: <a href="#">allthis.digital</a></p></div>
</footer>

<style lang="scss">
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block: var(--space-xs);

    font-family: var(--font-family-mono);
    font-size: var(--fs--3);

    p {
      font-size: var(--fs--3);
      margin: 0; // Added missing value for margin
    }
    div {
      justify-self: center;
    }

    div:nth-child(1) {
      justify-self: start;
      text-align: center;
    }
    div:last-child {
      justify-self: end;
      text-align: right;
    }
  }

  a {
    color: #333;
  }

  @media (max-width: 768px) {
    footer {
      grid-template-columns: 1fr 1fr;
      div {
        justify-self: center;
      }

      & .timezone {
        justify-self: center;
        order: 1;

        grid-column: span 2;
      }
      & .year {
        order: 2;
        text-align: right;
      }
      & .credits {
        order: 3;
      }
    }
  }
</style>
