---
import CustomClock from "./CustomClock.astro";

const { title, showDate, timeZone = true } = Astro.props;

const year = new Date().getFullYear();
---

<footer>
  <div class="year"><p>{year} © {title}</p></div>
  <div class="timezone">
    <CustomClock timeZone={timeZone} showDate={showDate} />
  </div>
  <div class="credits"><p>website: <a href="#">allthis.digital</a></p></div>
  <div class="progress"></div>
</footer>

<style lang="scss">
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;

    font-family: var(--font-family-mono);

    p {
      font-size: var(--fs--2);
      margin: 0; // Added missing value for margin
    }
    div {
      justify-self: center;
    }

    div:nth-child(1) {
      justify-self: start;
    }
    div:last-child {
      justify-self: end;
    }
  }

  a {
    color: #333;
  }
</style>
