:root {
    --radius-small: 0.5rem;
    --radius-default: 1rem;
    --radius-large: 2rem;
    --radius-full: 100vw;
    --gap-default: 2rem;
    --font-measure: 70ch;
    --font-system-serif: Didot,
        'Bodoni MT',
        'Noto Serif Display',
        'URW Palladio L',
        P052,
        Sylfaen,
        serif;
    --font-system: Inter,
        Roboto,
        'Helvetica Neue',
        'Arial Nova',
        'Nimbus Sans',
        Arial,
        sans-serif;
    --font-family-default: 'Inter', sans-serif, var(--font-system);
    --font-family-serif: "PT Serif", "Playfair Display", var(--font-system-serif),
        serif;
    --font-family-mono: ui-monospace,
        'Cascadia Code',
        'Source Code Pro',
        Menlo,
        Consolas,
        'DejaVu Sans Mono',
        monospace;
    // light theme
    --font-color: var(--neutral-900);
    --background-full: #fff;
    --action-color: var(--primary-100);
    --action-color-state: var(--primary-500);
    --background: var(--neutral-100);
    --primary-background: var(--primary-100);
    --neutral-background: var(--neutral-200);
}

// dark color scheme overrides
.darkmode {
    --font-color: #f1f1f1;
    --background-full: #000;
    --action-color: var(--secondary-100);
    --action-color-state: var(--secondary-500);
    --background: #000;
    --primary-background: var(--primary-500);
    --neutral-background: var(--neutral-900);
}

// sticky footer on low content pages
html,
body {
    height: 100%;
    font-family: var(--font-family-default);
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    background-color: var(--background);

    main {
        flex: 1 0 auto;
    }

    footer {
        flex-shrink: 0;
    }
}

pre {
    padding: 1rem;
    border-radius: 0.35rem;
    border: 2px solid var(--action-color);
}

body .pagination a {

    &:hover,
    &:focus-visible {
        background-color: var(--action-color-state);

        svg path {
            stroke: white;
        }
    }

}

.page__title {
    padding: var(--space-2xl) 0;
    font-weight: 400;
    margin-top: var(--space-3xl);

    & h1,
    & h2 {
        font-family: var(--font-family-serif);
        font-size: var(--fontsize-8);
        line-height: 100%;
    }
}