---
import "../assets/scss/main.scss";
import "../assets/scss/global.scss";

import CustomTitle from "../components/CustomTitle.astro";

import { VisualEditing } from "@sanity/astro/visual-editing";
const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";
---

<main id="main-content" transition:animate="fade">
  <slot />
</main>

<style></style>
